[submodule "swift-markdown-ui"]
	path = swift-markdown-ui
	url = https://github.com/MachatoApp/swift-markdown-ui.git
[submodule "LaTeXSwiftUI"]
	path = LaTeXSwiftUI
	url = https://github.com/MachatoApp/LaTeXSwiftUI.git
