[submodule "swift-markdown-ui"]
	path = swift-markdown-ui
	url = https://github.com/gonzalezreal/swift-markdown-ui.git
[submodule "LaTeXSwiftUI"]
	path = LaTeXSwiftUI
	url = https://github.com/colinc86/LaTeXSwiftUI.git
