<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://machatoapp.github.io/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>UflHrvFAg/RTGkeCFA8CKt7n1w3E3HfXtCfm5LV8LCk=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ConversationIdentifier</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>machato.Machato.ConversationIdentifier</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
